<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dame.cn.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dame.cn.beans.entities.Department">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="company_id" property="companyId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="introduce" property="introduce" />
        <result column="manager" property="manager" />
        <result column="manager_id" property="managerId" />
        <result column="creator" property="creator" />
        <result column="editor" property="editor" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, company_id, name, code, introduce, manager, manager_id, creator, editor, created_time, modified_time
    </sql>

    <resultMap id="deptWithChildListMap" type="com.dame.cn.beans.vo.DeptWithChildItem" extends="BaseResultMap">
        <!--
            如果这个children是一个对象，指定封装规则
            <association property="children"></association>
        -->
        <!--
            这个children是一个集合, 使用collection
            column=""将这次查询的指定的这一列的值传下去作为下一次查询使用的值，写列名，代表将哪一列的值传下去

            多个参数：pid=id,companyId=company_id
        -->
        <collection property="children" select="selectDeptWithChildList" column="pid=id"/>
    </resultMap>


    <select id="selectDeptWithChildList" resultMap="deptWithChildListMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM co_department
        WHERE pid = #{pid}
    </select>

</mapper>
