<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dame.cn.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dame.cn.beans.entities.Permission">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="creator" property="creator" />
        <result column="editor" property="editor" />
        <result column="created_time" property="createdTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, type, code, description, creator, editor, created_time, modified_time
    </sql>

    <resultMap id="permNodeMap" type="com.dame.cn.beans.vo.PermNode" extends="BaseResultMap">
        <collection property="children" select="selectPermNode" column="pid=id"/>
    </resultMap>

    <select id="selectPermNode" resultMap="permNodeMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pe_permission
        WHERE pid = #{pid}
    </select>
</mapper>
